.profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.info-list {
    flex: 1;
}

#profile-image {
    min-width: 125px !important;
    margin-right: auto !important;
}

@media (max-width: 768px) {
    #profile-image {
        min-width: 50px;
    }

    .image-container {
        width: 10rem !important;
    }
}

@media (max-width: 1199px) {
    .profile {        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.repo-desc {
    color: darkred; 
    cursor: pointer;
    font-weight: 600;
    font-size: .85rem;
    transition: all .7s;
}

.repo-desc:hover {
    text-decoration: underline;
    opacity: 1;
}

#profile-list {
    font-size: .8rem;
}

.norepo {
    color: rgba(139, 0, 0, .7);
    font-size: .85rem;
    font-weight: bold;
    letter-spacing: .5px;
}